= link_to attendance_path(attendance) do
  .card
    .card_content
      .card_title
        %p 入力日
        %p= attendance.display_created_at
      .card_detail
        = image_tag attendance.user.avatar_image
        %div
          %p= attendance.author_name
