<div class="container">
<%= render 'tabs' %>

  <% @attendances.each do |attendance| %>
    <%= render 'attendance', attendance: attendance %>
  <% end %>

  <%= link_to new_attendance_path do %>
    <div class="float_btn">
      <p>出退勤を入力する</p>
    </div>
  <% end %>
</div>