<div class="attendance">
  <h1 class="attendance_title"><%= @attendance.title %></h1>
  <div class="attendance_detail">
    <%= image_tag 'default-avatar.png' %>
    <div>
      <p>cohki0305</p>
      <p>2020/4/16</p>
    </div>
  </div>
  <div class="attendance_content">
    <%= @attendance.content %>
  </div>
</div>